html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.navigation-title {
	font-size: 1.2em;
	display: flex;
	width: 100%;
	line-height: 40px;
	margin-left: 20px;
	
}
.navigation {
	background: #373c3f;
	min-height: 40px;
    color: white;
    flex-shrink: 0;
}

.menu {
    display: none;
    background: #373c3f;
}

.menu ul {
	margin: 0;
    padding: 0;
}

.menu li {
	list-style-type: none;
}

.menu a {
    display: block;
    text-decoration: none;
    padding-left: 30px;
    color: white;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu a:hover {
	color: #373c3f;
	background: white;
}

.burger {
    display: none;
}

label {
    display: block; 
    background: url('image/burger-menu-open.png');
    background-repeat: round;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.burger:checked ~ .navigation-title {
	display: none;
}
.burger:checked ~ .menu{
    display: block;
}
.burger:checked + label {
    background: url('image/burger-menu-close.png');
    background-repeat: round;
}

/* главный контейнер */
.main-container {
	display: flex;
	flex-direction: column;
}

/* верхний элемент */
.main-container-top {
	background: linear-gradient(to right, #16b1c4, #0991a9);
	flex: 0 0 180px;
	color: white;
    position: relative;
    padding-right: 40px;
}
.main-container-top:hover {
	border: 3px solid yellow;
}

.main-container-top a {
	height: 100%;
    width: 100%;
	text-decoration: none;
	padding-left: 40px;
	position: absolute;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    align-content: center;
}
.main-container-top-text {
	font-size: 2em;
	width: 100%;
	flex: 1 0 auto;
}
.main-container-top-text-alt {
	display: flex;
	width: 90%;
	margin-top: 15px;
	flex-direction: row;
}


/* средний элемент */
.main-container-middle {
	display: flex;
	flex-direction: row;
	flex: 1 0 75px;
	border: 1px outset;
}

.main-container-middle-content {
	background: #27212c;
	color: #9484a2;
	flex: 1 1 auto;
	padding-left: 30px;
	display: flex;
    align-items: center;
    flex-grow: 1;
}

.main-container-middle-link {
	background: #bc3183;
	width: 80px;
	position: relative;
}

.main-container-middle-link a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	position: absolute;
	display: flex;
    align-items: center;
    justify-content: center;
}

.main-container-middle-link a:link, a:visited, a:hover, a:active {
    color: white;
}
.main-container-middle-link:hover {
	border: 3px solid yellow;
}

/* нижний элемент */
.main-container-bottom {
	background: #5b0fa1;
	min-height: 280px;
	position: relative;
	font-size: 1.8em;
}

.main-container-bottom a {
	height: 100%;
    width: 100%;
    position: absolute;
	text-decoration: none;
	display: flex;
    align-items: center;
    justify-content: center;
}

.main-container-bottom a:link, a:visited, a:hover, a:active {
    color: white;
}
  .main-container-bottom:hover {
  	border: 3px solid yellow;
  }

/* имейдж-элемент */
.images {
	width: 100%;
	flex: 1 0 auto;
	border: 1px outset;
}

/* контент */
.main-container-content {
	background: #ebebeb;
	padding: 30px;
	min-height: 180px;
	flex-shrink: 0;
}

.main-container-content a {
	color: #088ca5;
	text-decoration: none;
}

.main-container-content p {
	margin: 0 30px 10px 0;
}
.flex-wrapper {
	display: flex;
	flex-direction:column;
	flex: 1 0 auto;
}

@media screen and (min-width: 640px) and (max-width: 979px) {

	.navigation
	{
		min-height: 75px;
	}
	.navigation-title {
		line-height: 75px;
		font-size: 1.8em;
	}
	label {
		width: 75px;
		height: 75px;
	}
	.menu a {
		font-size: 1.6em;
	}
	.main-container-top {
		min-height: 320px;
		}
	.main-container-top-text {
	font-size: 3em;
	}
	.main-container-top-text-alt {
	font-size: 1.2em;
	}
	.main-container-middle {
		min-height: 150px;
	}
	.main-container-middle-link {
		width: 110px;
	}
	.main-container-middle-content {
		font-size: 18px;
	}
	.main-container-bottom {
		min-height: 400px;
    	font-size: 4em;

	}
	.main-container-content h2
	{
		font-size: 2em;
	}
	.main-container-content p {
		font-size: 1.6em;
	}
}
@media screen and (min-width: 980px) and (max-width: 1023px) {
	
	.menu{
		display: block;
		padding: 0;
		margin-left: 30px;
	}
	.menu li {
		display: inline-block;
	}

	.menu a {
		line-height: 90px;
		padding-left: 15px;
		padding-right: 15px;
		fomt-size: 1.6em;
	}
	.navigation
	{
		min-height: 90px;
	}
	.navigation-title {
		display: none;
	}
	label {
		display: none;
	}
	.main-container-top {
		min-height: 470px;
		}
	.main-container-top-text {
	font-size: 4em;
	}
	.main-container-top-text-alt {
	font-size: 1.8em;
	}
	.main-container-middle {
		min-height: 230px;
	}
	.main-container-middle-link {
		width: 200px;
		font-size: 3em;
	}
	.main-container-middle-content {
		font-size: 22px;
	}
	.main-container-content h2
	{
		font-size: 2.5em;
	}

	.main-container-content p {
		font-size: 1.8em;
	}
	.flex-wrapper {
		height: 250px;
		width: 100%;
		flex-direction: row;
		flex-grow: 1;
	}
	.main-container-bottom {
		flex: 1 0 auto;
		min-height: 250px;
	}
	.images
	{
		width: 0;
		flex: 1 0 auto;
	}
	.main-container-text {
		-webkit-column-count: 2; 
	}
}

@media screen and (min-width: 1024px) {

	.menu{
		display: block;
		padding: 0;
		margin-left: 30px;
	}
	.menu li {
		display: inline-block;
	}

	.menu a {
		line-height: 90px;
		padding-left: 15px;
		padding-right: 15px;
		font-size: 1.6em;
	}
	.navigation
	{
		min-height: 90px;
	}
	.navigation-title {
		display: none;
	}
	label {
		display: none;
	}

	.main-container-top {
		min-height: 520px;
	}
	.main-container-top-text {
		font-size: 5em;
	}
	.main-container-top-text-alt {
		font-size: 2em;
	}
	.main-container-middle {
		min-height: 230px;
	}
	.main-container-middle-link {
		width: 200px;
		font-size: 3em;
	}
	.main-container-middle-content {
		font-size: 1.8em;
	}
	.main-container-content h2
	{
		font-size: 2.5em;
	}
	.main-container-content p {
		font-size: 1.8em;
	}
	.flex-wrapper {
		height: 250px;
		width: 100%;
		flex-direction: row;
		flex-grow: 1;
	}
	.main-container-bottom {
		flex: 1 0 auto;
		min-height: 250px;
		font-size: 2em;
	}
	.images
	{
		width: 0;
		flex: 1 0 auto;
	}
	.main-container-text {
		-webkit-column-count: 2; 
	}
}
