.body {
    margin: 0;
    padding: 0;
	text-align: center;

}
.search {
    display: inline-block;
    width: 270px;
    height: 30px;
    font-size: 24px;
}

.search-img {
	width: 50px;
	height: 35px;
	display: inline-block;
	position: relative;
	top: 9px;
	left: 5px;
	cursor: pointer;
}
.section {
    width: 100%;
    height: 550px;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0 auto;
}

.content {
    overflow: hidden;
    width: 100000px;
    height: 522px;
    padding: 0;
}

 .video {
      -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
   user-select: none;
    float: left;
    border: 1px solid black;
    width: 318px;
    height: 500px;
    padding: 10px;
    background: #FFE773;
    overflow: hidden;
}
.video-title {
    text-align: center;
    height: 80px;
    font-size: 18px;
    font-family: Verdana, Times, serif;
    color: red;
    overflow: hidden;
    text-overflow: ellipsis;
}
.video-link {
    color: red;
    text-overflow: ellipsis;
}
.video-img {

}
.video-description {
    color: black;
    margin-top: 10px;
    font-family: Verdana, serif;
    font-size: 16px;
    text-overflow: ellipsis;
}
.video-author {
    height: 25px;
    color: blue;
    text-overflow: ellipsis;
}
.video-views {
    height: 25px;
    color: red;
    text-overflow: ellipsis;
}
.video-date {
    color: blue;
    height: 25px;
    text-overflow: ellipsis;
}
.paging {
  -moz-user-select: none;
  -o-user-select:none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
   user-select: none;
    margin: 0 auto;
    background: #422C83;
    border: 1px solid black;
    text-align: center;
}
.page {
    cursor: pointer;
    text-align: center;
    min-height: 15px;
    min-width: 15px;
    border-radius: 100%;
    background-color: yellow;
    display: inline-block;
    padding: 2px;
    margin-left: 2px;
}
.page:hover {
    color: red;
}
.current-page {
    background-color: blue;
}