body {
width: 800px;
height: 500px;
margin: 0 auto;
padding-top: 10px;
}

header {
width: 798px;
height: 100px;
background: rgb(204,204,204);
text-align: left;
border: 1px solid black;
}

.logo-img {
float: left;
width: 70px;
height: 70px;
background: white;
margin-top: 10px;
margin-left: 10px;
}

.logo-main-text {
margin-top: 10px;
margin-left: 90px;
font-family: Verdana, Arial, serif;
color: rgb(107,107,107);
font-size: 22px;
}

.logo-alt-text {
margin-left: 90px;
font-family: Verdana, Arial, serif;
color: rgb(107,107,107);
font-size: 14px;
}

aside {
padding: 10px;
margin-top: 10px;
width: 200px;
height: 100%;
background: rgb(204,204,204);
float: left;
}

.horizontal-navigation {
background: rgb(56,56,56);
}

.horizontal-navigation a {
display: inline-block;
width: 110px;
height: 40px;
line-height: 40px;
text-decoration: none;
text-align: center;
color: white;
}
.horizontal-navigation a + a {
margin-left: -4px;
}

.vertical-navigation {
background: rgb(56,56,56);
}

.vertical-navigation a {
display: block;
width: 200px;
height: 40px;
line-height: 40px;
text-decoration: none;
text-align: center;
color: white;
}

.horizontal-navigation a:hover{
color: rgb(56,56,56);
background: white;
}

.vertical-navigation a:hover{
color: rgb(56,56,56);
background: white;
text-decoration: underline;
}

article {
margin-left: 10px;
color: rgb(56,56,56);
float: left;
height: 100%;
width: 570px;
font-family: Times,Courier New, Sans;
}

ul[type="disc"] li {
color: black;
}