html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

header {
    background: #ccc8ba;
    flex: 0 0 90px;
    font-weight: bold;
    font-size: 2.4em;
    padding: 10px 0 0 10px;
}

.flex-container {
    background: #e7e3d4;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}

.navigation {
    display: block;
    background: #ebe9e3;
    flex: 0 0 190px;
    font-weight: bold;
    font-size: 2em;
    padding: 10px 0 0 10px;
}

.navigation a {

    padding: 10px 0 0 10px;
    text-decoration: none;
}

main {
    background: #e7e3d4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 15px;
}

.tile {
    background: white;
    margin: 5px 20px 5px 20px;
    border-radius: 10px;
    min-width: 250px;
}

.tile-title {
    font-size: 1.2em;
    text-align: center;
}

.tile-text {
    font-size: 1em;
    padding: 0 10px 10px 5px;
}

.tile-image {
    display: none;
    float: left;
    margin: 0 10px 8px;
}

.sidebar {
    background: #f6f3eb;
    flex: 0 0 140px;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 0 0 10px;
}

footer {
    background: #ccc8ba;
    flex: 0 0 90px;
    font-weight: bold;
    font-size: 1.8em;
    padding: 10px 0 0 10px;
}


/* BURGER MENU */
#burger_menu {
  display: none;
}

label {
  position: absolute;
  right: 10px;
  top: 0;
  display: none;
  cursor: pointer;
}


#burger_menu:checked ~ .navigation{
    display: block;
}

#burger_menu:checked ~ label{
    background-image: url('image/burger_menu_close.jpg')
}
/* BREAK POINTS */

@media screen and (min-width: 1280px) {
    .tile-image {
        display: block;
        background-image: url('image/girl_large.jpg');
        width: 200px;
        height: 200px;
    }

    .navigation {
        flex-basis: 240px
    }

    aside {
        flex-basis: 190px
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .tile-image {
        display: block;
        background-image: url('image/girl_small.jpg');
        width: 100px;
        height: 100px;
    }
    header, footer {
        flex: 0 0 80px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .tile-image {
        display: block;
        background-image: url('image/girl_large.jpg');
        width: 200px;
        height: 200px;
    }

    .flex-container {
        flex-wrap: wrap;
    }

    .navigation {
        order: 0;
        flex-grow: 2;
    }

    main {
        order: 2;
        width: 100%;
    }

    aside {
        order: 1;
        flex-grow: 1;

    }
    header, footer {
        flex: 0 0 70px;
    }
}

@media screen and (max-width: 480px) {
    label {
        display: block;
          background-image: url('image/burger_menu.png');
          width: 75px;
          height: 50px;
          border: 3px solid grey;
          border-radius: 5px;
    }

    .navigation {
        display: none;
        background: #ebe9e3;
        flex-grow: 1;
        flex-basis: auto;
        order: 0;
        text-align: center;
    }

    header, footer {
        flex: 0 0 50px;
    }

    .tile-image {
        display: block;
        background-image: url('image/girl_small.jpg');
        width: 100px;
        height: 100px;
    }

    .flex-container {
        flex-wrap: wrap;
        flex-direction: column;
    }


    main {
        order: 2;
    }

    aside {
        order: 1;
        flex-grow: 1;
        height: 90px;
    }
}
