<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<title>Backbone.js • TodoMVC</title>
		<!-- build:css build/output.min.css -->
		<link href="bower_components/todomvc-common/base.css" rel="stylesheet" type="text/css" media="all">
		<!-- endbuild -->
	</head>
	<body>
		<section id="todoapp">
			<header id="header">
				<h1>todos</h1>
				<input id="new-todo" placeholder="What needs to be done?" autofocus>
			</header>
			<section id="main">
				<input id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list"></ul>
			</section>
			<footer id="footer"></footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
		</footer>
		<script type="text/template" id="item-template">
			<div class="view">
				<input class="toggle" type="checkbox" <%= done ? 'checked' : '' %>>
				<label><%- title %></label>
				<button class="destroy"></button>
			</div>
			<input class="edit" value="<%- title %>">
		</script>
		<script type="text/template" id="stats-template">
			<span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
			<ul id="filters">
				<li>
					<a class="selected" href="#/">All</a>
				</li>
				<li>
					<a href="#/active">Active</a>
				</li>
				<li>
					<a href="#/completed">Completed</a>
				</li>
			</ul>
			<% if (done) { %>
			<button id="clear-completed">Clear completed (<%= done %>)</button>
			<% } %>
		</script>

		<!-- build:js build/output.libs.min.js -->
		<script src="bower_components/jquery/jquery.js"></script>
		<script src="bower_components/underscore/underscore.js"></script>
		<script src="bower_components/backbone/backbone.js"></script>
		<script src="bower_components/backbone.localStorage/backbone.localStorage-min.js"></script>
		<script src="bower_components/backbone.localStorage/todos.js"></script>
		<script src="bower_components/todomvc-common/base.js"></script>
		<!-- endbuild -->
		<!-- build:js build/output.min.js -->
		<script src="js/app.js"></script>
		<script src="js/collections/todos.js"></script>
		<script src="js/models/todo.js"></script>
		<script src="js/routers/router.js"></script>
		<script src="js/views/app-view.js"></script>
		<script src="js/views/todo-view.js"></script>
		<!-- endbuild -->

	</body>
</html>
