html,body {
width: 100%;
height: 100%;
margin: 0;
}
body {
text-align: center;
font-size: 60px;
}

header {
width: 100%;
height: 15%;
background: rgb(102,102,102);
color: white;

}
footer {
width: 100%;
height: 15%;
background: rgb(102,102,102);
color: white;
}
.left {
float: left;
width: 25%;
height: 70%;
background: rgb(119,188,221);
}
.right {
float: right;
width: 20%;
height: 70%;
background: rgb(255,102,52);
}
.center {
height: 70%;
background: rgb(214,214,214);
}
