.todolist {
	margin: 0 auto;
	width: 500px;
}
.task_content {
	text-align: left;
	width:  350px;
	font-family: Verdana, Times, serif;
	font-size: 24px;
	color: green;
}
.status {
	height: 30px;
	background-color: purple;
	color: yellow;
	display: inline-block;
	padding: 0 10px;
	border-radius: 25px;
	
}
.remove {
	height: 30px;
	background-color: blue;
	color: white;
	display: inline-block;
	padding: 0 10px;
	border-radius: 25px;

}

li {
	border-radius: 30px;
	text-align: right;
	display: block;
	padding: 10px;
	width: 500px;
	min-height: 60px;
	border: 3px solid red;
	margin-top: 5px;
	line-height: 30px;
	margin-left: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#task {
	width: 300px;
	height: 30px;
	font-size: 16px;
}
#add {
	width: 150px;
	height: 30px;
	font-size: 14px;
}