body{
	overflow: hidden;
	margin: 0;
	background-color: #BBF8FA ;
}

.toast {
	padding: 5px;
	position: relative;
	display: block;
	min-width: 200px;
	max-width: 300px;
	min-height: 50px;
	background-color: #639DBC;
	color: white;
	font-size: 18px;
	margin: 15px 0;
	-webkit-box-shadow: 0px 0px 15px 0px red;
	-webkit-animation-name:'movement';
	-webkit-animation-duration: 6s;
	-webkit-user-select: none;

}
.toasts-list {
	position: absolute;
	right: 30px;
	bottom: 10px;
}
#add {
	border-radius: 0% 100% 100%;
	margin: 10px;
	color:  red;
	background-color: black;
	width: 200px;
	height: 200px;
	font-size: 36px;
	text-align: center;
	line-height: 200px;
	-webkit-user-select: none;
	-webkit-animation: 'colorChange' 3s infinite; /* Webkit */
}
#add:hover {
	cursor: pointer;
}
@-webkit-keyframes 'movement' {
    from {
	-webkit-transform: translate(200px,0px) scale(0.0);
	}
    8% {
	-webkit-transform: translate(-50px,0px) scale(1.3);;
    }
    16% {
	-webkit-transform: translate(0px,0px);  	
    }
    84% {
	-webkit-transform: translate(0px,0px); 
    }
    to {
		-webkit-transform: rotate(30deg) translate(200px,0px) scale(0.0);
    }	
}

@-webkit-keyframes 'colorChange' { /* Webkit */
	0%   { background-color: black; -webkit-box-shadow: 5px 5px 25px 0px black;}
	25%  { background-color: gray; -webkit-box-shadow: 5px 5px 25px 0px gray; }
	50%  { background-color: yellow; -webkit-box-shadow: 5px 5px 25px 0px yellow; }
	75%  { background-color: orange; -webkit-box-shadow: 5px 5px 25px 0px orange; }
	100% { background-color: blue; -webkit-box-shadow: 5px 5px 25px 0px blue;}
}