<div> <a href="#/">BACK!</a><br>
<div> ID: {{id}} </div>
<div> Full_Name: {{full_name}} </div>
<div> Login: {{login}} </div>
<div><img ng-src={{avatar_url}}></div>
<div> Description: {{description}}</div>

<h3> List of contributors: </h3>
<ul>
  <li ng-repeat="contributor in contributors">
    <span>login: {{contributor.login}}</span><br>
    <span>id: {{contributor.id}}</span>
    <p><img ng-src={{contributor.avatar_url}}></p>
  </li>
</ul>