    
<div class="myTemplate">
<form name="MyForm">
    <label>Filter params:</label><br>
    <label>Query: </label><input name="input" ng-model="query" type="text" required><br>
    <label>Maximum repo size: </label><input name="input" ng-model="maxRepoSize" type="number" min="0" required><br>
    <label>Minimum number of forks: </label><input name="input" ng-model="minForks" type="number" min="0" required><br>
    <label>Minimuml number of stars: </label><input name="input" ng-model="minStars" type="number" min="0" required><br>
    <button ng-click="downloadRepos()" ng-disabled="MyForm.$invalid">Search</button><br>
</form>
<endless-scroll></endless-scroll>
</div>