<ul>
  <li ng-repeat="repo in repos">
    <p>full name:{{repo.full_name}}</p>
    <a href="#/repositories/{{repo.full_name}}">Details</a><br>
    <span>login: {{repo.owner.login}}</span><br>
    <span>id: {{repo.owner.id}}</span>
    <p><img ng-src={{repo.owner.avatar_url}}></p>
    <p>description: {{repo.description}}</p>
  </li>
</ul>