/* Поддержка IE(9-11) + FF */

body,html {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	min-width: 1024px;
	overflow-x: auto;
}

a img {
	border: none; /* FOR IE */
}
/* HEADER */
header {
	padding-top: 20px;
	text-align: center;
	height: 80px;
	background: url('images/header_background.png') center top repeat-x;
	}

.header-wrapper {
	display: block;
	width: 1000px;
	margin: 0 auto;
}

.header-logo-img {
	float: left;

}

.menu {
	display: inline-block;
}

.menu li {
	display: inline-block;
	list-style-type: none;
}

.menu li a {
	padding: 10px;
	text-decoration: none;
	font-size: 1.4em;
	color: #33879e;
}

.menu li:last-child a {
	color: #2eba98;
	text-decoration: underline;
}

.menu li a:hover {	
	border-radius: 40px;
	background: #33879e;
	color: white;
}

.menu li:last-child  a:hover {
	background: #2eba98;
	color: white;
}

.header-link-right {
	display: inline-block;
	color: #33879e;
	text-decoration: underline;
	float: right;
	position: relative;
	top: 20px;
}
/* END HEADER */

/* TOP CONTAINER */			
.main-container-top {
	height: 300px;
	background: url('images/top_background.png');
	background-size: 100%;
	padding-top: 50px;
	overflow: hidden;
	}

.main-container-top-wrapper {
	width: 800px;
	margin: 0 auto;

}

.main-container-top-image {
	top: 20px;
	width: 400px;
	float: left;
}

.main-container-top-text h2 {
	font-size: 2.5em;
	color: white;
}

.main-container-top-text h4 {
	margin-top: -25px;
	color: white;
}

.main-container-top-text a {
	display: inline-block;
	color: white;
	text-decoration: none;
	border-radius: 40px;
	background-color: #2bb1cf;
	padding: 10px 20px;
	border: 5px solid #7f906b;
	font-family: Verdana;
	font-size: 1.1em;
}

.main-container-top-text a:hover {
	color:#2bb1cf;
	background-color: white;
}

/* END TOP CONTAINER */

/* MIDDLE CONTAINER */
.main-container-middle {
	height: 220px;
	text-align: center;
	background: purple;
	background: url('images/middle_background.png')  bottom repeat-x;

}

.main-container-middle-wrapper {
	display: inline-block;
}

.main-container-middle-content {
	text-align: center;
	margin-top: 20px;
	display: inline-block;
	color: #33879e;
	cursor: pointer;
}

.main-container-middle-content-image {
	vertical-align: top;
	width: 100px;
	height: 75px;
}

.main-container-middle-image-next {
	margin: 0 30px;
	width: 25px;
	height: 100px;
}
/* END MIDDLE CONTAINER */

/* BOTTOM CONTAINER */
.main-container-bottom {
	width:100%;
	height: 450px;
	background: white;
	text-align: center;
}

.main-container-bottom-wrapper {
	padding-top: 30px;
	display: inline-block;
}

.main-container-bottom-content {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	color: black;
}

.main-container-bottom-content + .main-container-bottom-content {
	margin-left: 35px;
}

.main-container-bottom-content p {
	color: gray;
}

.main-container-bottom-content div {
	margin-left: auto;
	margin-right: auto;
	width: 175px;
	height: 175px;
	background-color: green;
	border-radius: 175px;
	border: 5px solid #addfd3;
	cursor: help;
}

.main-container-bottom-content-image-1 {
	background: url('images/bottom_image_1.png');
	background-position: -10px -65px;
}

.main-container-bottom-content-image-2 {
	background: url('images/bottom_image_2.png');
	background-position: 0 -45px;
}

.main-container-bottom-content-image-3 {
	background: url('images/bottom_image_3.png');
	background-position: 0 -5px;
}

.main-container-bottom-content-image-4 {
	background: url('images/bottom_image_4.png');
	background-position: -100px -5px;
}

.main-container-bottom-link {
	display: block;
	position: relative;
	margin: 0 auto;
	top: 20px;
	width: 180px;
	color: #addfd3;
	padding: 10px 20px;
	border: 3px solid #addfd3;
	border-radius: 30px;
	text-decoration: none;
	font-size: 1.3em;
	text-align: center;
	font-weight: bold;

}

.main-container-bottom-link:hover {
	background-color: #addfd3;
	color: white;
}
/* END BOTTOM CONTAINER */

/* FOOTER */
footer {
	height: 120px;
	background: url('images/footer_background.png');
	background-size: 100%;
	color: gray;
}

.footer-wrapper {
	margin: 0 auto;
	width: 1000px;
}

.footer-top-content-contacts-email {
	display: inline-block;
	width: 350px;
}

.footer-top-content-contacts-email a {
	color: white;
	text-decoration: none;
}

.footer-top-content-contacts-adres {
	display: inline-block;
	width: 300px;
}

.footer-top-content-ios {
	float: right;
	margin-top: 20px;
}

.footer-top-content-android {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
}

.footer-bottom-content {
	border-top: 1px solid white;
	padding-top: 5px;
}

.footer-bottom-content a {
	display: inline-block;
	color: gray;
	text-decoration: none;

}

.footer-bottom-content a + a {
	margin-left: 40px;
}

.footer-bottom-content a:hover {
	text-decoration: underline;
}
/* END FOOTER */